apiVersion: v1
kind: Service
metadata:
  name: f5xc-prom-exporter
  namespace: f5xc-monitoring
  labels:
    app.kubernetes.io/name: f5xc-prom-exporter
    app.kubernetes.io/component: service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8080"
spec:
  type: ClusterIP
  ports:
  - name: http-metrics
    port: 8080
    targetPort: http-metrics
    protocol: TCP
  selector:
    app.kubernetes.io/name: f5xc-prom-exporter
    app.kubernetes.io/component: exporter